body {
  background-color: #defcfc;
  text-align: center;
}
hr {
  border-style: none;
  width: 10%;
  border-color: lightgrey;
  height: 5px;

}
h1, h3 {
  color: grey
}

table {
  align-content: center;
}
