html, body {
  background-color: #ebf2ff;
  margin:0px;
  height:100%;
}

hr {
  border-color: lightgrey;
  width: 100%;
  opacity: 70%;
}

h1, h3, h5 {
  text-align: center;
  color: grey
}

table {
  margin:0 auto 0 auto;
}

/************class & id css **************/
.description, .technologyStack, .lastPage{
  height: 100%;
  text-align: center;
  position: relative;
}

.site{
  height:100%;
  background-color: #ebf2ff;
}

.contact{
  position: absolute;
  bottom: 10%;
  left: 37%;
}
